<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Display</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="header">
        <p class="scrolling-text">Current weather for {{ city }}, {{ state}} </p>
    </div>  

    <div id="weather-container" >
        <table id="weather-table">
            <tr>
                <th>Current Temp: </th>
                <th></th>
                <th>{{ temp }} °F</th>
            </tr>
            <tr>
                <th>Feels Like: </th>
                <th></th>
                <th>{{ feelsLike }} °F</th>
            </tr>
            <tr>
                <th>Humidity: </th>
                <th></th>
                <th>{{ humidity }} %</th>
            </tr>
            <tr>
                <th>Wind Speed: </th>
                <th></th>
                <th>{{ wind_speed }} MPH</th>
            </tr>
            <tr>
                <th>Air Pressure: </th>
                <th></th>
                <th>{{ pressure }} inHg</th>
            </tr>
        </table>
    </div>

    <div id="footer">
        <div id="weather-footer">
            
        </div>
        <div id="alert-box" class="alert-container" style="display: none">
            <p class="scrolling-text">No active weather alerts for {{ county }}, {{ state }}</p>
        </div>
        <!-- <button id="play-music">Play Music</button> // Comenting out
        <audio id="background-music"></audio> -->
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <!-- <script src="{{ url_for('static', filename='js/music.js') }}"></script> -->
</body>
</html>
