<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Display</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div>
        <!-- Display Weather Alert if Available -->
        <div id="alert-box" class="alert-container" style="display: none;">
            <p id="scrolling-text">No active weather alerts.</p>
        </div>

        <div >
            <h1>Current Weather</h1>

            <p>Temperature: {{ temp }} °F</p>
            <p>Humidity: {{ humidity }} %</p>
            <p>Wind Speed: {{ wind_speed }} mph</p>
        </div>

        <!-- Additional weather details can go here -->
    
    </div>
    <div>
        <!-- <button id="play-music">Play Music</button> // Comenting out
        <audio id="background-music"></audio> -->
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='js/music.js') }}"></script> -->
</body>
</html>
